body {
    background-color: #EEEEEE;
    padding: 0px 0px 0px 0px;
    font-family: Arial;
    text-align: center;
    margin: 0px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #496db8;
    overflow-x: hidden;
    padding-top: 10px;
    margin-top: 73px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: block;
}

.sidenav a:hover {
    background-color: #3b5998;
    color: black;
}

.sidenav a.active {
    background-color: #2c416d;
    color: black;
}

.topnav {
    width: 100%;
    background-color: #3b5998;
    overflow: hidden;
    height: 73px;
    border-bottom: 2px solid black;
}

.topnav a {
    float: left;
    width: 10%;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 15px;
}

.topnav a:hover {
    background-color: #354f85;
}

.active {
    background-color: #fff;
}

.topnav .search-container {
    position: fixed;
    right: 5%;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 20px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 17px;
    margin-left: 10px;
    background: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #fff;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.topnav .gezichtenboek {
    width: 180px;
    text-align: left;
    font-size: 25px;
    margin: 0px;
    padding: 20px 0px 20px 16px;
    height: 33px;
}

#demobox-maze {
    width: 15%;
    margin-left: 210px;
    margin-right: 900px;
    text-align: left;
    font-size: 35px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}
